/* Navbar Styling */
.navbar {
    position: fixed;
    top: 0;
    left: -360px;
    width: 100%;
    max-width: 360px;
    height: 100%;
    background-color: var(--smoky-black-1);
    padding: 30px 30px 50px;
    overflow-y: auto;
    transition: transform 0.3s ease, visibility 0.3s ease;
    visibility: hidden;
    z-index: 10;
  }
  
  .navbar.active {
    transform: translateX(360px);
    visibility: visible;
  }
  
  .navbar .close-btn {
    margin-left: auto;
    margin-bottom: 20px;
    padding: 8px;
    color: var(--white);
    border: 1px solid currentColor;
    border-radius: 50%;
  }
  
  .navbar .navbar-list {
    margin-bottom: 100px;
  }
  
  .navbar .navbar-item {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .navbar .navbar-link {
    display: flex;
    align-items: center;
    padding: 10px 0;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--white);
    text-decoration: none;
    position: relative;
  }
  
  .navbar .navbar-link:hover .span,
  .navbar .navbar-link.active .span {
    color: var(--gold-crayola);
    transform: translateX(20px);
  }
  
  .navbar .separator {
    width: 10px;
    height: 2px;
    background-color: var(--gold-crayola);
    margin-right: 10px;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.3s, opacity 0.3s;
  }
  
  .overlay.active {
    opacity: 1;
    visibility: visible;
  }
  